<html>
    <head>
            <title>YelpCampgrounds</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </head>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
            <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
    <body class="pb-3">
        
            <div class="pb-2">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-dark bg-tansparent sticky-top">
                                            <a class="navbar-brand border-top border-bottom border-success " href="https://yelpcamp-wooomiz.c9users.io/"><i class="fab fa-free-code-camp"></i> Yelpcamp</a>
                                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                            </button>
                                  <div class="collapse navbar-collapse  border-collapse" id="navbarNav">
                                            <ul class="navbar-nav " >
                                                        <li class="nav-item active pr-xl-2 pr-lg-2">
                                                            <a class="nav-link border border-success " href="https://yelpcamp-wooomiz.c9users.io/campgrounds">campgrounds<span class="sr-only">(current)</span></a>
                                                        </li>
                                                        <li class="nav-item active">
                                                            <a class="nav-link border border-success" href="https://yelpcamp-wooomiz.c9users.io/quotes">quotes<span class="sr-only">(current)</span></a>
                                                        </li>
                                                      
                                            </ul>
                                            <ul class="navbar-nav ml-auto">
                                                        <li class="nav-item active border border-success">
                                                            <a class="nav-link" href="https://yelpcamp-wooomiz.c9users.io/login">login</a>
                                                        </li>
                                            </ul>
                                  </div>
                    </nav>
            </div>