<% include ./partials/header %>
<style>
.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
}
</style>
<div class="container">
            <div class="card-deck">
                    <% campgrounds.forEach(function(campground){ %>
                    
                            <div class="card" >
                                    <img src="<%= campground.image %>" class="card-img-top" alt="...">
                                    <div class="card-body">
                                          <h5 class="card-title"><%= campground.name %></h5>
                                          <p class="card-text">The Perfect honeymoon after campsite</p>
                                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                            </div>  
                    <% }); %>
            </div>
</div>
<% include ./partials/footer %>