<% include ./partials/header %>

<div style="width:30%; margin:0 auto;">
        <form target="/campgrounds">
                <h4 class="text-dark" style="text-align:center">Log Into Your Account</h4>
                <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>

<% include ./partials/footer %>