<% include ./partials/header %>
            
            
            <h2 class="text-dark bg-warning border border-dark" style="text-align:center">Campgrounds and Quotes</h2>
            <% var i=0; %>
            <div class="container">
                    <div class="card-columns">        
                        <% campgrounds.forEach(function(campground) { %>
                        
                                <div class="card" >
                                        <img src="<%= campground.image %>" class="card-img-top" alt="...">
                                        <div class="card-body">
                                              <h5 class="card-title"><%= campground.name %></h5>
                                              <p class="card-text">The Perfect honeymoon after campsite</p>
                                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                        </div>
                                </div>  
                                

                            <%  if(i<quotes.length)
                               {  %>
                                      <%  var quote=quotes[i];  %>
                                        <div class= "card text-white text-center p-3 <%= quote.bgcolor %>" >
                                            <blockquote class="blockquote mb-0  <%= quote.textcolor %>">
                                                                <p><%= quote.description %></p>
                                                    <footer class="blockquote-footer <%= quote.textcolor %>">
                                                                <small>
                                                                  Quoted By <cite title="Source Title"><%= quote.name %></cite>
                                                                </small>
                                                    </footer>
                                            </blockquote>
                                        </div>
                            <%  i++; } %>
                                
                        <% }); %>
                    </div>
            </div>
            
<% include ./partials/footer %>