<% include ./partials/header.ejs %>

<% quotes.forEach(function(quote){ %>
        <div class="card">
            <div class= "card text-white text-center p-3 <%= quote.bgcolor %>" >
                            <blockquote class="blockquote mb-0  <%= quote.textcolor %>">
                                    <p><%= quote.description %></p>
                                    <footer class="blockquote-footer <%= quote.textcolor %>">
                                    <small>
                                            Quoted By <cite title="Source Title"><%= quote.name %></cite>
                                    </small>
                        </footer>
                </blockquote>
            </div>
        </div>
<% }); %>


<% include ./partials/footer.ejs %>